:root {
    --corBox: #180a3f;
    --corFonte: #fff;
    --corBtnCircle: #6d50ce;
    --corBtnCircleHover: #4e3895;
    --corBtnCircleActive: #20096b;
    --corSombra: #000;
}

.box_ciculo {
    background-color: var(--corBox);
    color: var(--corFonte);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 8px 11px 20px var(--corSombra);
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.titulos_box {
    color: var(--corFonte);
}

.circulo {
    width: 120px;
    height: 120px;
}

.button_container {
    display: flex;
    gap: 2rem;
}
.btn1,
.btn2 {
    width: 90px;
    color: var(--corFonte);
    background-color: var(--corBtnCircle);
    padding: 0.3rem 0rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
    text-align: center;
}

.btn1:hover {
    background-color: var(--corBtnCircleHover);
}

.btn1:active {
    background-color: var(--corBtnCircleActive);
}

.checkboxContainer {
    display: inline-block;
}

.checkboxButton__input {
    display: none;
}

.checkboxButton {
    display: inline-block;
    width: 90px;
    color: var(--corFonte);
    background-color: var(--corBtnCircle);
    padding: 0.3rem 0rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 500ms;
}

.checkboxButton:hover {
    background-color: var(--corBtnCircleHover);
}

.checkboxButton__input:checked + .checkboxButton {
    background-color: var(--corBtnCircleActive);
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid var(--corBox);
    border-top: 8px solid var(--corBtnCircle);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.modal {
    position: absolute;
    bottom: 10px;
    animation: modalEnter 0.4s ease-out;
    padding: 0 0.5rem;
}

@keyframes modalEnter {
    from {
        transform: translateY(-50%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
