:root {
    --CorFonte: #fff;
    --CorBorda: #01d7ef;
}

.ipt_pesquisa {
    padding: 0.625rem 2.5rem;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid var(--CorBorda);
    color: var(--CorFonte);
}

.ipt_pesquisa:focus {
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 2px #fff;
    outline: none;
}

#titulo_principal {
    color: var(--CorFonte);
    font-weight: 900;
    font-size: 2rem;
}

.menu_icon {
    display: inline-block;
    width: 35px;
    height: 20px;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 3;
}

.menu_line {
    width: 35px;
    height: 4px;
    background-color: var(--CorFonte);
    transition: 0.3s;
    border-radius: 5px;
    margin: 4px 0;
    display: none;
    position: relative;
    z-index: 3;
}

.line1_open {
    transform: rotate(45deg) translateY(10px);
    position: relative;
    z-index: 3;
}

.line2_open {
    opacity: 0;
    position: relative;
    z-index: 3;
}

.line3_open {
    transform: rotate(-45deg) translateY(-10px);
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1000px) {
    .ipt_pesquisa {
        width: 100%;
        min-width: 145px;
    }

    .menu_icon,
    .menu_line {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .ipt_pesquisa {
        padding: 0.625rem 2rem;
    }

    #titulo_principal {
        font-size: 1rem;
    }
}
